S3method(build_sampler,biips)
S3method(clear_monitors,biips)
S3method(density,smcarray)
S3method(density,smcarray.list)
S3method(diagnostic,smcarray)
S3method(diagnostic,smcarray.list)
S3method(is_monitored,biips)
S3method(monitor,biips)
S3method(pimh.update,biips)
S3method(plot,density.smcarray)
S3method(plot,density.smcarray.atomic)
S3method(plot,density.smcarray.atomic.list)
S3method(plot,density.smcarray.list)
S3method(plot,smcarray)
S3method(plot,smcarray.list)
S3method(plot,summary.smcarray)
S3method(plot,summary.smcarray.list)
S3method(pmmh.init,biips)
S3method(pmmh.update,biips)
S3method(print,biips)
S3method(print,diagnostic.smcarray)
S3method(print,smcarray)
S3method(print,smcarray.list)
S3method(print,summary.smcarray)
S3method(print,summary.smcarray.list)
S3method(summary,smcarray)
S3method(summary,smcarray.list)
S3method(variable.names,biips)
export(biips_add_function)
export(biips_model)
export(build_sampler)
export(diagnostic)
export(is.biips)
export(pimh.samples)
export(pimh.update)
export(pmmh.init)
export(pmmh.samples)
export(pmmh.update)
export(smc.sensitivity)
export(smc_samples)
importFrom(stats,density)
importFrom(stats,variable.names)
useDynLib(RBiips)
