S3method(build.sampler,biips)
S3method(density,particles)
S3method(density,particles.list)
S3method(diagnostic,particles)
S3method(diagnostic,particles.list)
S3method(init.pmmh,biips)
S3method(plot,density.particles)
S3method(plot,density.particles.atomic)
S3method(plot,density.particles.atomic.list)
S3method(plot,density.particles.list)
S3method(plot,particles)
S3method(plot,particles.list)
S3method(plot,summary.particles)
S3method(plot,summary.particles.list)
S3method(print,biips)
S3method(print,diagnostic.particles)
S3method(print,particles)
S3method(print,particles.list)
S3method(print,summary.particles)
S3method(print,summary.particles.list)
S3method(summary,particles)
S3method(summary,particles.list)
S3method(update,pmmh.biips)
S3method(update.pimh,biips)
S3method(update.pmmh,biips)
S3method(variable.names,biips)
export(biips.add.function)
export(biips.model)
export(build.sampler)
export(diagnostic)
export(init.pmmh)
export(is.biips)
export(pimh.samples)
export(pmmh.samples)
export(smc.samples)
export(smc.sensitivity)
export(update.pimh)
export(update.pmmh)
importFrom(stats,density)
importFrom(stats,variable.names)
